body {
  background: black;
}
* {
  direction: rtl;
}

img { 
  max-width: 100%;
  height: auto;
}

#rules-button{
  z-index: 1;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#canvas1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 375px;
  height: 675px; */
  width: 500px;
  height: 800px;
  background: white;
}

@media only screen and (max-width: 600px) {
  #canvas1 {
    width: 375px;
    height: 675px;
  }
} 
